<!-- Add icon library -->
@model ApplicationUser
@{
    var All = ViewBag.all as List<ApplicationUser>;
}
<div class="card">
    <img src="~/ProfileImage/@Model.ImageUrl" alt="@Model.Email" style="width:100%">
    <h1>@Model.Email</h1>
    <p class="title">@Model.job</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <p><a asp-action="update" asp-controller="account" class="btn btn-primary" >Edit</a></p>
</div>












<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Job</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in All)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.job</td>
            </tr>
        }

    </tbody>
</table>


@section css{
    <style>

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 500px;
      /*      margin: auto;*/
            text-align: center;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

            button:hover, a:hover {
                opacity: 0.7;
            }
    </style>
}